Repository valerymo/marin3r-product-build: changes, and which Tekton pipelines are due for each by the changed paths.
All: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push, marin3r-operator-on-pull-request

marin3r-operator-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/api-management-tenant/marin3r/marin3r-operator-bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

marin3r-operator-bundle-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/api-management-tenant/marin3r/marin3r-operator-bundle:{{revision}}
  - name: dockerfile
    value: Containerfile.marin3r-operator-bundle
  ...

marin3r-operator-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/api-management-tenant/marin3r/marin3r-operator:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

reads description and icon directly from file
  bundle-hack/update_bundle.sh
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push

fixes ClusterServiceVersion file name
  bundle-hack/update_bundle.sh
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push

cleanup
  Containerfile.marin3r-operator
Due: marin3r-operator-on-pull-request

fix event name
  .tekton/marin3r-operator-bundle-pull-request.yaml
  .tekton/marin3r-operator-pull-request.yaml
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push, marin3r-operator-on-pull-request

Konflux update marin3r-operator Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/marin3r-operator-pull-request.yaml
  .tekton/marin3r-operator-push.yaml
Due: marin3r-operator-on-pull-request

Revert "Konflux update marin3r-operator"
  .tekton/marin3r-operator-pull-request.yaml
  .tekton/marin3r-operator-push.yaml
Due: marin3r-operator-on-pull-request

try triggering run in case of bad expression
  .tekton/marin3r-operator-push.yaml
Due: marin3r-operator-on-pull-request

try triggering run on any push to main
  .tekton/marin3r-operator-push.yaml
Due: marin3r-operator-on-pull-request

Red Hat Konflux update marin3r-operator Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/marin3r-operator-pull-request.yaml
  .tekton/marin3r-operator-push.yaml
Due: marin3r-operator-on-pull-request

Red Hat Konflux update marin3r-operator-bundle Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/marin3r-operator-bundle-pull-request.yaml
  .tekton/marin3r-operator-bundle-push.yaml
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push

adds missing Dockerfile
  drift-cache/marin3r-operator/Dockerfile
Due: none

fixes path
  Containerfile.marin3r-operator
Due: marin3r-operator-on-pull-request

switches back to custom pipelines from sample
  .tekton/marin3r-operator-pull-request.yaml
  .tekton/marin3r-operator-push.yaml
Due: marin3r-operator-on-pull-request

adds missing expressions to prevent unnecessary rebuilds
  .tekton/marin3r-operator-bundle-pull-request.yaml
  .tekton/marin3r-operator-bundle-push.yaml
  .tekton/marin3r-operator-push.yaml
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push, marin3r-operator-on-pull-request

Switches to (correct) reusable pipelines
  .tekton/marin3r-operator-bundle-pull-request.yaml
  .tekton/marin3r-operator-bundle-push.yaml
  .tekton/marin3r-operator-pull-request.yaml
  .tekton/marin3r-operator-push.yaml
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push, marin3r-operator-on-pull-request

adds missing renovate config
  renovate.json
Due: none

enables hermetic builds
  .tekton/marin3r-operator-pull-request.yaml
Due: marin3r-operator-on-pull-request

enables rpm prefetching for marin3r operator bundle
  .tekton/marin3r-operator-bundle-pull-request.yaml
  Containerfile.marin3r-operator-bundle
  rpms.in.yaml
  rpms.lock.yaml
  ubi.repo
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push

enables dev-package-managers
  .tekton/marin3r-operator-bundle-pull-request.yaml
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push

Enables source repositories
  rpms.lock.yaml
  ubi.repo
Due: none

adds repos for all architectures
  rpms.in.yaml
  rpms.lock.yaml
Due: none

adds python package prefetching
  .tekton/marin3r-operator-bundle-pull-request.yaml
  .tekton/marin3r-operator-bundle-push.yaml
  Containerfile.marin3r-operator-bundle
  pyproject.toml
  requirements-build.in
  requirements-build.txt
  requirements.txt
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push

fix typo
  .tekton/marin3r-operator-bundle-pull-request.yaml
  .tekton/marin3r-operator-bundle-push.yaml
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push

Fixes expression replacing upstream image pullspec
  bundle-hack/update_bundle.sh
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push

helps mintmaker figure out containerfile to look at
  rpms.in.yaml
Due: none

ensures pipelines run when dependency prefetching files change
  .tekton/marin3r-operator-bundle-pull-request.yaml
  .tekton/marin3r-operator-bundle-push.yaml
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push

updates to python dependencies should also trigger builds
  .tekton/marin3r-operator-bundle-pull-request.yaml
  .tekton/marin3r-operator-bundle-push.yaml
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push

updates for latest ubi9 image
  rpms.lock.yaml
  ubi.repo
Due: none

prevents non-patch updates to golang image from renovate
  renovate.json
Due: none

Red Hat Konflux purge marin3r-operator-bundle Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/marin3r-operator-bundle-pull-request.yaml
  .tekton/marin3r-operator-bundle-push.yaml
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push

Red Hat Konflux purge marin3r-operator Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/marin3r-operator-pull-request.yaml
  .tekton/marin3r-operator-push.yaml
Due: marin3r-operator-on-pull-request

remove remaining tekton files
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push, marin3r-operator-on-pull-request

MGDAPI-6696 Create Konflux components for Mariner
  Containerfile.marin3r-operator
  drift-cache/marin3r-operator/Dockerfile
Due: marin3r-operator-on-pull-request

MGDAPI-6696 Create Konflux components for Mariner
  Containerfile.marin3r-operator
Due: marin3r-operator-on-pull-request

Red Hat Konflux update marin3r-operator-image Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/marin3r-operator-image-pull-request.yaml
  .tekton/marin3r-operator-image-push.yaml
Due: none

update bundle hack
  bundle-hack/update_bundle.sh
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push

MGDAPI-6699 Konflux integration tests + prevent extra Tekton pipelines runs
  .gitignore
  .tekton/marin3r-operator-bundle-pull-request.yaml
  .tekton/marin3r-operator-bundle-push.yaml
  .tekton/marin3r-operator-image-pull-request.yaml
  .tekton/marin3r-operator-image-push.yaml
  bundle-hack/update_bundle.sh
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push

MGDAPI-6699 prefetch errors fix
  .tekton/marin3r-operator-bundle-pull-request.yaml
  .tekton/marin3r-operator-bundle-push.yaml
  Containerfile.marin3r-operator
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push, marin3r-operator-on-pull-request

Path conditions:
  marin3r-operator-bundle-on-pull-request: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/marin3r-operator-bundle-pull-request.yaml)) or (any of: .tekton/marin3r-operator-bundle-push.yaml)) or (any of: Containerfile.marin3r-operator-bundle)) or (any of: marin3r)) or (any of: bundle-hack/***)
  marin3r-operator-bundle-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/marin3r-operator-bundle-pull-request.yaml)) or (any of: .tekton/marin3r-operator-bundle-push.yaml)) or (any of: Containerfile.marin3r-operator-bundle)) or (any of: marin3r)) or (any of: bundle-hack/***)
  marin3r-operator-on-pull-request: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/marin3r-operator-pull-request.yaml)) or (any of: .tekton/marin3r-operator-push.yaml)) or (any of: Containerfile.marin3r-operator)) or (any of: marin3r)
